<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZKJ1Z8zs65ztcOHT1imOtF0pVXRIGNe0</string>
	<key>GCM_SENDER_ID</key>
	<string>331828620242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexusacumen.crownkingsbarbershop</string>
	<key>PROJECT_ID</key>
	<string>crown-kings-barbershop</string>
	<key>STORAGE_BUCKET</key>
	<string>crown-kings-barbershop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331828620242:ios:5da5b75a156a693fac360b</string>
</dict>
</plist>